In [32]:
import pandas as pd
data = pd.read_csv('finalData.csv',index_col=0)
data = data.drop(['NOC','Year'],axis=1)
data

,Medal,Event_Count,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Male_Percentage,is_Host?
0,0,4,0,0,0,0,0,0,0,0,0,100.000000,0.0
1,0,2,0,0,0,0,0,0,0,0,0,100.000000,0.0
2,0,1,0,0,0,0,0,0,0,0,0,100.000000,0.0
3,0,13,0,0,0,0,0,0,0,0,0,100.000000,0.0
4,0,8,0,0,0,0,0,0,0,0,0,100.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3254,9,15,0,0,0,0,0,9,0,0,0,50.000000,0.0
3255,0,8,0,0,0,0,0,0,0,0,0,44.444444,0.0
3256,0,13,0,0,0,0,0,0,0,0,0,29.032258,0.0
3257,0,5,0,0,0,0,0,0,0,0,0,80.000000,0.0
3258,0,6,0,0,0,0,0,0,0,0,0,71.428571,0.0

In [36]:
from sklearn.preprocessing import StandardScaler
import numpy as np
newData = data.loc[:, data.columns].values
newData = StandardScaler().fit_transform(newData) # normalizing the features
newData = np.nan_to_num(newData,nan=0)
newData

array([[-0.36087219, -0.64892695, -0.06667666, ..., -0.31258529,
         1.15793467, -0.10114043],
       [-0.36087219, -0.68947789, -0.06667666, ..., -0.31258529,
         1.15793467, -0.10114043],
       [-0.36087219, -0.70975335, -0.06667666, ..., -0.31258529,
         1.15793467, -0.10114043],
       ...,
       [-0.36087219, -0.46644774, -0.06667666, ..., -0.31258529,
        -0.75819802, -0.10114043],
       [-0.36087219, -0.62865148, -0.06667666, ..., -0.31258529,
         0.61793364, -0.10114043],
       [-0.36087219, -0.60837601, -0.06667666, ..., -0.31258529,
         0.38650463, -0.10114043]], shape=(3259, 13))

In [37]:
normalized = pd.DataFrame(newData,columns=data.columns)
normalized

,Medal,Event_Count,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Male_Percentage,is_Host?
0,-0.360872,-0.648927,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,1.157935,-0.10114
1,-0.360872,-0.689478,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,1.157935,-0.10114
2,-0.360872,-0.709753,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,1.157935,-0.10114
3,-0.360872,-0.466448,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,1.157935,-0.10114
4,-0.360872,-0.567825,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,1.157935,-0.10114
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3254,-0.081761,-0.425897,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,0.010778,-0.119152,-0.047424,-0.312585,-0.192068,-0.10114
3255,-0.360872,-0.567825,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,-0.342068,-0.10114
3256,-0.360872,-0.466448,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,-0.758198,-0.10114
3257,-0.360872,-0.628651,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,0.617934,-0.10114
3258,-0.360872,-0.608376,-0.066677,-0.162313,-0.123052,-0.174741,-0.207112,-0.348860,-0.119152,-0.047424,-0.312585,0.386505,-0.10114

In [38]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pc_lst = pca.fit_transform(normalized)
pc_df = pd.DataFrame(pc_lst, columns = ['PC1', 'PC2'])
pc_df

           PC1       PC2
0    -0.823923  0.285137
1    -0.839083  0.287305
2    -0.846663  0.288389
3    -0.755702  0.275380
4    -0.793603  0.280800
...        ...       ...
3254 -0.544001 -0.027059
3255 -0.867143 -0.097799
3256 -0.849645 -0.208250
3257 -0.842818  0.147757
3258 -0.846584  0.088261

[3259 rows x 2 columns]

In [39]:
pca_comps = pd.DataFrame(pca.components_, index=['PC1', 'PC2'])
pca_comps

,0,1,2,3,4,5,6,7,8,9,10,11,12
PC1,0.427348,0.373855,0.101820,0.300947,0.253430,0.234523,0.322738,0.398873,0.174956,0.074324,0.334416,0.049027,0.209311
PC2,0.054578,-0.053470,0.510527,-0.357503,-0.056551,-0.016044,-0.114043,0.070168,-0.439416,-0.342637,0.277401,0.252399,0.364950