In [4]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  
import pandas as pd

# this tells Jupyter to embed matplotlib plots in the notebook
%matplotlib inline

In [7]:
df = pd.read_csv('./summerOly_medal_counts.csv')

In [8]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896